In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    [[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [8.75, 1.3]],
    index=["a", "b", "c", "d"],
    columns=["one", "two"],
)
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  8.75  1.3

In [4]:
df.sum()

one    17.25
two    -3.20
dtype: float64

In [6]:
df.sum(axis="columns")

a     1.40
b     2.60
c     0.00
d    10.05
dtype: float64